
/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}


#wrapper {
  max-width: 940px;
  margin: 20px auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

p {
	margin: 0.5em 0 1em 0;
}

img {
  max-width: 100%;
}

.bordershadow {
	  border-top: #999 solid 1px;
	  box-shadow: 0px 1px 1px 1px rgba(135, 135, 135, 0.6);
}

.topborder {
	margin: 30px 0 0 0;
	  border-top: #999 solid 1px;
}

.textbox {
	text-align: center;
	margin: 2em;
	padding: 1em;
	background-color: #f5f5f5;
}

.gigs {
	text-align: center;
}

span {
	font-style: italic;
}

quote {
	font-style: italic;
	display: block;
}

/**********************************
HEADING
***********************************/

header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background: linear-gradient(to top, #333, #eee);
}

#logo {
  text-align: center;
  margin: 0;
}


h1 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 15px 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 1em;
  margin: -5px 0 0;
  font-weight: normal;
    text-transform: uppercase;
}

h1,h2 {
	text-shadow:1px 1px 10px black;
}


h6 {
  font-size: 1.2em;
  margin: 2em 0 0;
  font-weight: normal;
    text-transform: uppercase;
}

h3 {
  clear: both;
  margin: 2.5em 0 0.4em 0;
  padding: 0.3em 0;
  font-size: 1.33em;
  border-bottom: #999 solid 1px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  	color: #666;
}

h4 {
	font-size: 1.2em;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 1.5em 0 0 0;
	padding: 0 0 0.2em 0;
	/*border-bottom: #999 solid 1px; */
	position: relative;
}

h4:after {
	content: '';
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: -1px;
	border-bottom: 1px solid #999;
	
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  margin: 1em 2.5% 1em 2.5%;
  font-weight: normal;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  margin: 30px 0 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 5px 0 5px;
  line-height: 90%;
  background: linear-gradient(to top, #333, #888);
}

nav li {
  width:40%;
  display: inline-block;
  border: gray solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
  box-shadow: 0px 0px 1px 1px #aaa inset;	
}


/*nav li:nth-child(2n+3) {
  clear: left;
}


/*nav li a {
  padding: 15px 15px;
  margin: 5px;
}*/



/**********************************
PAGE: HOME
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  height: 70%;
  margin: 1em 2.5% 5%;
  background-color: #f5f5f5;
  color: #444;
  text-align: center;
}

#gallery li a p {
  margin: 0;
  padding: 2%;
  font-size: 0.8em;
  color: #444;
  height: 100%;
}

/* #gallery li img {
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 45%;
} */

.quote {
	background-color: #f5f5f5;
}

.quote p {
	text-align: center;
	background-color: #f5f5f5;
	padding:  0 0 2em;
	margin: 0 0 0 0;
}

.quote span {
	font-size: 1.0em;
	font-variant: small-caps;
}
.quote span a {
	color: #444;
	text-decoration: underline;
}


/* quotes java script thingy */

/* #quotes {margin-top: 40px;} */

#quotes li {
	list-style-type: none; 
	text-align: center; 
	padding: 0 2% 0.7em;
	font-size: 0.9em;}
#quotes ul {
	padding-left: 0;
	padding-bottom; 0;
	margin-bottom: 0;
	background-color: #f5f5f5;
}
#quotes li {display: none;}
#quotes li span {
	font-style: italic;
	}

 .gigs p {
	text-align:center;
}

/*********************/




#videos {
	margin-bottom: 20px;
    padding-bottom: 20px;

}
#videos ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: gray;	
}

#videos li {
  float: left;
  width: 45%;
  margin: 1em 2.5% 10%;
  background-color: #f5f5f5;
  color: #444;
  text-align: center;
}


#videos li iframe {
    height: 100%; 
    width: 100%; 
    max-width: 100%; 
    max-height: 100%;
}

#videos li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.9em;
  color: #444
}


/* non fa niente
#gallery li a p h5 {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}
*/

/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  text-align: left;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 5px;
  color: #444;
}

footer p {
	  margin-top: 5px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
}

.center {
	  margin: 3px;
  text-align:center;
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #444;
}

/* green header */
header {
}

/* nav background on mobile */
/*nav {
  background: #bcbcbc;
}*/

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #444;
}

a:hover {
  color: #111;
  text-shadow:0px 0px 1px black;	
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #bbb;
  	text-shadow:1px 1px 10px gray;
}


/**********************************
DOWNLOAD PAGE
***********************************/

label{
    display: block; /* Make sure the label is on a single line */
    margin: 3px; /* Create some distance away from the input fields */
}
 
input{
    padding: 5px; /* Give the text some more space */
    margin: 5px; /* Create some distance away from the labels */
}

.procut_item {width: 550px;margin-right: auto;margin-left: auto;padding: 20px;background: #F1F1F1;margin-bottom: 1px;font-size: 12px;border-radius: 5px;text-shadow: 1px 1px 1px #FCFCFC;}
.procut_item h4 {margin: 0px;padding: 0px;font-size: 20px;}

.downloadbtn {
    box-shadow: 3px 3px 3px 3px rgba(002, 002, 002, 0.6);
}


/**********************************
FOTO GALLERY PAGE
***********************************/

#fotogallery h3 {
	margin-top:1.5em;
}

#fotogallery ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 900px;
	text-align: center;
}
#fotogallery ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
#fotogallery ul li img {
	display: block;
}
a {
	text-decoration: none;
}
/** Start Coding Here **/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {; 
	margin-top: 10vh;
 max-width: 90%;
  max-height: 90%;


 /*    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
 max-width: 500px;
 max-height: 500px; */

}

#overlay p {
 color:white; 
}


/**********************************
PAGE: CONTACT
***********************************/

#contact {
	text-align: center;
}


/**********************************
PAGE: MEDIA
***********************************/

.mp3 {
	margin: auto;
}

.mejs-container {
    margin: auto;
    }
